<h1>Shop.Client</h1>
<p>В базе данных находится <%= totalProducts %> товаров общей стоимостью <%= totalPrice %></p>
<a href="/products-list"><button>Перейти к списку товаров</button></a>
<a href="/admin" target="_blank"><button>Перейти в систему администрирования</button></a>
